/*
 * Copyright 2025 opensabe-tech
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
 * Payments
 * <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the Payments REST API to easily and securely accept online and mobile payments. The payments name space contains resource collections for payments, sales, refunds, authorizations, captures, and orders.<blockquote><strong>Important:</strong> The use of the PayPal REST <code>/payments</code> APIs to accept credit card payments is restricted. Instead, you can accept credit card payments with <a href=\"https://www.braintreepayments.com/products/braintree-direct\">Braintree Direct</a>.</blockquote>You can enable customers to make PayPal and credit card payments with only a few clicks, depending on the country. You can accept an immediate payment or authorize a payment and capture it later. You can show details for completed payments, refunds, and authorizations. You can make full or partial refunds. You also can void or re-authorize authorizations. For more information, see the <a href=\"/docs/integration/direct/payments/\">Payments overview</a>.
 *
 * The version of the OpenAPI document: 1.12
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.model.Authorization;
import org.openapitools.client.model.Capture;

import com.fasterxml.jackson.core.type.TypeReference;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2024-06-11T03:56:12.691299337Z[Atlantic/Reykjavik]")
public class AuthorizationApi {


    private ApiClient apiClient;

    public AuthorizationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AuthorizationApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Capture authorization
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Captures and processes an authorization, by ID. The original payment call must specify an intent of &lt;code&gt;authorize&lt;/code&gt;.
     *
     * @param authorizationId The ID of the authorization to re-authorize. (required)
     * @param capture         (optional)
     * @return Capture
     * @throws ApiException if fails to make API call
     */
    public Capture authorizationCapture(String authorizationId, Capture capture) throws ApiException {
        return this.authorizationCapture(authorizationId, capture, Collections.emptyMap());
    }


    /**
     * Capture authorization
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Captures and processes an authorization, by ID. The original payment call must specify an intent of &lt;code&gt;authorize&lt;/code&gt;.
     *
     * @param authorizationId   The ID of the authorization to re-authorize. (required)
     * @param capture           (optional)
     * @param additionalHeaders additionalHeaders for this call
     * @return Capture
     * @throws ApiException if fails to make API call
     */
    public Capture authorizationCapture(String authorizationId, Capture capture, Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = capture;

        // verify the required parameter 'authorizationId' is set
        if (authorizationId == null) {
            throw new ApiException(400, "Missing the required parameter 'authorizationId' when calling authorizationCapture");
        }

        // create path and map variables
        String localVarPath = "/v1/payments/authorization/{authorization_id}/capture"
                .replaceAll("\\{" + "authorization_id" + "\\}", apiClient.escapeString(authorizationId.toString()));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();


        localVarHeaderParams.putAll(additionalHeaders);


        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {
                "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[]{"Oauth2"};

        TypeReference<Capture> localVarReturnType = new TypeReference<Capture>() {
        };
        return apiClient.invokeAPI(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType
        );
    }

    /**
     * Show authorization details
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Shows details for an authorization, by ID.
     *
     * @param authorizationId The ID of the authorization to re-authorize. (required)
     * @return Authorization
     * @throws ApiException if fails to make API call
     */
    public Authorization authorizationGet(String authorizationId) throws ApiException {
        return this.authorizationGet(authorizationId, Collections.emptyMap());
    }


    /**
     * Show authorization details
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Shows details for an authorization, by ID.
     *
     * @param authorizationId   The ID of the authorization to re-authorize. (required)
     * @param additionalHeaders additionalHeaders for this call
     * @return Authorization
     * @throws ApiException if fails to make API call
     */
    public Authorization authorizationGet(String authorizationId, Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'authorizationId' is set
        if (authorizationId == null) {
            throw new ApiException(400, "Missing the required parameter 'authorizationId' when calling authorizationGet");
        }

        // create path and map variables
        String localVarPath = "/v1/payments/authorization/{authorization_id}"
                .replaceAll("\\{" + "authorization_id" + "\\}", apiClient.escapeString(authorizationId.toString()));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();


        localVarHeaderParams.putAll(additionalHeaders);


        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[]{"Oauth2"};

        TypeReference<Authorization> localVarReturnType = new TypeReference<Authorization>() {
        };
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType
        );
    }

    /**
     * Re-authorize payment
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Re-authorizes a PayPal account payment, by authorization ID. To ensure that funds are still available, re-authorize a payment after the initial three-day honor period. Supports only the &lt;code&gt;amount&lt;/code&gt; request parameter. You can re-authorize a payment only once from four to 29 days after three-day honor period for the original authorization expires. If 30 days have passed from the original authorization, you must create a new authorization instead. A re-authorized payment itself has a new three-day honor period. You can re-authorize a transaction once for up to 115% of the originally authorized amount, not to exceed an increase of $75 USD.
     *
     * @param authorizationId The ID of the authorization to re-authorize. (required)
     * @param authorization   (optional)
     * @return Authorization
     * @throws ApiException if fails to make API call
     */
    public Authorization authorizationReauthorize(String authorizationId, Authorization authorization) throws ApiException {
        return this.authorizationReauthorize(authorizationId, authorization, Collections.emptyMap());
    }


    /**
     * Re-authorize payment
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Re-authorizes a PayPal account payment, by authorization ID. To ensure that funds are still available, re-authorize a payment after the initial three-day honor period. Supports only the &lt;code&gt;amount&lt;/code&gt; request parameter. You can re-authorize a payment only once from four to 29 days after three-day honor period for the original authorization expires. If 30 days have passed from the original authorization, you must create a new authorization instead. A re-authorized payment itself has a new three-day honor period. You can re-authorize a transaction once for up to 115% of the originally authorized amount, not to exceed an increase of $75 USD.
     *
     * @param authorizationId   The ID of the authorization to re-authorize. (required)
     * @param authorization     (optional)
     * @param additionalHeaders additionalHeaders for this call
     * @return Authorization
     * @throws ApiException if fails to make API call
     */
    public Authorization authorizationReauthorize(String authorizationId, Authorization authorization, Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = authorization;

        // verify the required parameter 'authorizationId' is set
        if (authorizationId == null) {
            throw new ApiException(400, "Missing the required parameter 'authorizationId' when calling authorizationReauthorize");
        }

        // create path and map variables
        String localVarPath = "/v1/payments/authorization/{authorization_id}/reauthorize"
                .replaceAll("\\{" + "authorization_id" + "\\}", apiClient.escapeString(authorizationId.toString()));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();


        localVarHeaderParams.putAll(additionalHeaders);


        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {
                "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[]{"Oauth2"};

        TypeReference<Authorization> localVarReturnType = new TypeReference<Authorization>() {
        };
        return apiClient.invokeAPI(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType
        );
    }

    /**
     * Void authorization
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Voids, or cancels, an authorization, by ID. You cannot void a fully captured authorization.
     *
     * @param authorizationId The ID of the authorization to re-authorize. (required)
     * @param payPalRequestId The server stores keys for 30 days. (optional)
     * @return Authorization
     * @throws ApiException if fails to make API call
     */
    public Authorization authorizationVoid(String authorizationId, String payPalRequestId) throws ApiException {
        return this.authorizationVoid(authorizationId, payPalRequestId, Collections.emptyMap());
    }


    /**
     * Void authorization
     * &lt;blockquote&gt;&lt;strong&gt;Deprecation notice:&lt;/strong&gt; The &lt;code&gt;/v1/payments&lt;/code&gt; endpoint is deprecated. Use the &lt;code&gt;/v2/payments&lt;/code&gt; endpoint instead. For details, see &lt;a href&#x3D;\&quot;/docs/checkout/integrate/\&quot;&gt;PayPal Checkout Basic Integration&lt;/a&gt;.&lt;/blockquote&gt;Voids, or cancels, an authorization, by ID. You cannot void a fully captured authorization.
     *
     * @param authorizationId   The ID of the authorization to re-authorize. (required)
     * @param payPalRequestId   The server stores keys for 30 days. (optional)
     * @param additionalHeaders additionalHeaders for this call
     * @return Authorization
     * @throws ApiException if fails to make API call
     */
    public Authorization authorizationVoid(String authorizationId, String payPalRequestId, Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // verify the required parameter 'authorizationId' is set
        if (authorizationId == null) {
            throw new ApiException(400, "Missing the required parameter 'authorizationId' when calling authorizationVoid");
        }

        // create path and map variables
        String localVarPath = "/v1/payments/authorization/{authorization_id}/void"
                .replaceAll("\\{" + "authorization_id" + "\\}", apiClient.escapeString(authorizationId.toString()));

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (payPalRequestId != null)
            localVarHeaderParams.put("PayPal-Request-Id", apiClient.parameterToString(payPalRequestId));

        localVarHeaderParams.putAll(additionalHeaders);


        final String[] localVarAccepts = {
                "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[]{"Oauth2"};

        TypeReference<Authorization> localVarReturnType = new TypeReference<Authorization>() {
        };
        return apiClient.invokeAPI(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType
        );
    }

}
