/*
 * Webhooks Management
 * The PayPal REST APIs use <a href=\"/docs/api/notifications/webhooks/\"/>webhooks</a> for event notification. Webhooks are HTTP callbacks that receive notification messages for events. After you configure a webhook listener for your app, you can <a href=\"#webhooks_create\">create a webhook</a>, which subscribes the webhook listener for your app to events. The <code>notifications</code> namespace contains resource collections for webhooks.
 *
 * The version of the OpenAPI document: 1.11
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import com.fasterxml.jackson.core.type.TypeReference;

import org.openapitools.client.ApiException;
import org.openapitools.client.ApiClient;
import org.openapitools.client.Configuration;
import org.openapitools.client.model.*;
import org.openapitools.client.Pair;

import org.openapitools.client.model.Error;
import org.openapitools.client.model.VerifyWebhookSignature;
import org.openapitools.client.model.VerifyWebhookSignatureResponse;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2024-05-07T07:10:38.624109217Z[Atlantic/Reykjavik]")
public class VerifyWebhookSignatureApi {


  private ApiClient apiClient;

  public VerifyWebhookSignatureApi() {
    this(Configuration.getDefaultApiClient());
  }

  public VerifyWebhookSignatureApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Verify webhook signature
   * Verifies a webhook signature.
   * @param verifyWebhookSignature  (optional)
   * @return VerifyWebhookSignatureResponse
   * @throws ApiException if fails to make API call
   */
  public VerifyWebhookSignatureResponse verifyWebhookSignaturePost(VerifyWebhookSignature verifyWebhookSignature) throws ApiException {
    return this.verifyWebhookSignaturePost(verifyWebhookSignature, Collections.emptyMap());
  }


  /**
   * Verify webhook signature
   * Verifies a webhook signature.
   * @param verifyWebhookSignature  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return VerifyWebhookSignatureResponse
   * @throws ApiException if fails to make API call
   */
  public VerifyWebhookSignatureResponse verifyWebhookSignaturePost(VerifyWebhookSignature verifyWebhookSignature, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = verifyWebhookSignature;
    
    // create path and map variables
    String localVarPath = "/v1/notifications/verify-webhook-signature";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json; charset=UTF-8"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Oauth2" };

    TypeReference<VerifyWebhookSignatureResponse> localVarReturnType = new TypeReference<VerifyWebhookSignatureResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

}
