/*
 * Copyright 2025 opensabe-tech
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
 * Webhooks Management
 * The PayPal REST APIs use <a href=\"/docs/api/notifications/webhooks/\"/>webhooks</a> for event notification. Webhooks are HTTP callbacks that receive notification messages for events. After you configure a webhook listener for your app, you can <a href=\"#webhooks_create\">create a webhook</a>, which subscribes the webhook listener for your app to events. The <code>notifications</code> namespace contains resource collections for webhooks.
 *
 * The version of the OpenAPI document: 1.11
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import com.fasterxml.jackson.core.type.TypeReference;

import org.openapitools.client.ApiException;
import org.openapitools.client.ApiClient;
import org.openapitools.client.Configuration;
import org.openapitools.client.model.*;
import org.openapitools.client.Pair;

import org.openapitools.client.model.Error;
import org.openapitools.client.model.WebhookLookupList;
import org.openapitools.client.model.WebhooksLookup;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2024-05-07T07:10:38.624109217Z[Atlantic/Reykjavik]")
public class WebhooksLookupApi {


  private ApiClient apiClient;

  public WebhooksLookupApi() {
    this(Configuration.getDefaultApiClient());
  }

  public WebhooksLookupApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Delete webhook lookup
   * Deletes a webhook lookup, by ID.
   * @param webhookLookupId The ID of the webhook lookup to delete. (required)
   * @throws ApiException if fails to make API call
   */
  public void webhooksLookupDelete(String webhookLookupId) throws ApiException {
    this.webhooksLookupDelete(webhookLookupId, Collections.emptyMap());
  }


  /**
   * Delete webhook lookup
   * Deletes a webhook lookup, by ID.
   * @param webhookLookupId The ID of the webhook lookup to delete. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void webhooksLookupDelete(String webhookLookupId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'webhookLookupId' is set
    if (webhookLookupId == null) {
      throw new ApiException(400, "Missing the required parameter 'webhookLookupId' when calling webhooksLookupDelete");
    }
    
    // create path and map variables
    String localVarPath = "/v1/notifications/webhooks-lookup/{webhook_lookup_id}"
      .replaceAll("\\{" + "webhook_lookup_id" + "\\}", apiClient.escapeString(webhookLookupId.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Oauth2" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Show webhook lookup details
   * Shows details for a webhook lookup, by ID.
   * @param webhookLookupId The ID of the webhook lookup to delete. (required)
   * @return WebhooksLookup
   * @throws ApiException if fails to make API call
   */
  public WebhooksLookup webhooksLookupGet(String webhookLookupId) throws ApiException {
    return this.webhooksLookupGet(webhookLookupId, Collections.emptyMap());
  }


  /**
   * Show webhook lookup details
   * Shows details for a webhook lookup, by ID.
   * @param webhookLookupId The ID of the webhook lookup to delete. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return WebhooksLookup
   * @throws ApiException if fails to make API call
   */
  public WebhooksLookup webhooksLookupGet(String webhookLookupId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'webhookLookupId' is set
    if (webhookLookupId == null) {
      throw new ApiException(400, "Missing the required parameter 'webhookLookupId' when calling webhooksLookupGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/notifications/webhooks-lookup/{webhook_lookup_id}"
      .replaceAll("\\{" + "webhook_lookup_id" + "\\}", apiClient.escapeString(webhookLookupId.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Oauth2" };

    TypeReference<WebhooksLookup> localVarReturnType = new TypeReference<WebhooksLookup>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * List webhook lookups
   * Lists webhook lookups.
   * @return WebhookLookupList
   * @throws ApiException if fails to make API call
   */
  public WebhookLookupList webhooksLookupList() throws ApiException {
    return this.webhooksLookupList(Collections.emptyMap());
  }


  /**
   * List webhook lookups
   * Lists webhook lookups.
   * @param additionalHeaders additionalHeaders for this call
   * @return WebhookLookupList
   * @throws ApiException if fails to make API call
   */
  public WebhookLookupList webhooksLookupList(Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/v1/notifications/webhooks-lookup";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Oauth2" };

    TypeReference<WebhookLookupList> localVarReturnType = new TypeReference<WebhookLookupList>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create webhook lookup
   * Creates a webhook lookup.
   * @return WebhooksLookup
   * @throws ApiException if fails to make API call
   */
  public WebhooksLookup webhooksLookupPost() throws ApiException {
    return this.webhooksLookupPost(Collections.emptyMap());
  }


  /**
   * Create webhook lookup
   * Creates a webhook lookup.
   * @param additionalHeaders additionalHeaders for this call
   * @return WebhooksLookup
   * @throws ApiException if fails to make API call
   */
  public WebhooksLookup webhooksLookupPost(Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/v1/notifications/webhooks-lookup";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Oauth2" };

    TypeReference<WebhooksLookup> localVarReturnType = new TypeReference<WebhooksLookup>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

}
