<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="io.github.opensabe">
    <Appenders>
        <CustomAppender name="CustomAppender">
            <Filters>
                <SecretCheckFilter />
            </Filters>
        </CustomAppender>
    </Appenders>
    <Loggers>
        <!--必须使用异步日志，否则会有循环调用问题-->
        <Asyncroot level="info">
            <AppenderRef ref="CustomAppender"/>
        </Asyncroot>
    </Loggers>
</Configuration>